*{
    margin: 0;
    padding: 0;
}
@font-face{
    font-family: 'fonte_nome';
    src: url("../fontes/font04.otf");
}

.cabeca{
     /*estilo de colocar a imagem fixa no inicio*/
     background: url("../img/ful02.png");
     background-position: top center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;    
     width: auto;
     height: 300px;
     margin-top:-10px;
 
}

.conteudo{
   background: #1a1919;
   width: 10;
   border-top: 25px solid rgba(14, 160, 160, 0.479);  
   padding: 20px; 
}
.container{
    text-align: center;
    margin-top:40px;
}
footer{
    background:#1a1919;; 
    color: #ffffffce;
    height: 50px;
    margin-top:-20px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
#foto{
    border-radius:100%;
    width: 150px;
    height: 150px;
}
.titulo_nome{
    font-size: 23px;
    color: #ffffffce;
}
.nome{
    border:  2px solid rgb(83, 81, 81);
    width:  500px;
    margin: auto;
    font-family: 'fonte_nome', sans-serif;
    padding: 5px;
    text-align: center;
}
#funcao{
    font-size: 20px;
    color: #069;

}
.social{
    margin:10px;
    font-size:40px;
}
.social, a{
    color: rgba(248, 245, 245, 0.212);
    padding: 20px;
}
.social, a:hover{
    color: #928f8f;
}
/* Estilizando o Meu aprendizato*/
.descricao{
    font-size: 15px;
    list-style:none;
    padding: 0;
}
.meu_nivel{
    width: 500px;
    margin: 60px auto;
    color: white;
}
.meu_nivel h1{
    text-align: center;
}
.meu_nivel li{
    margin: 20px 0;
}
.bar{
    background: #353b48;
    display: block;
    height: 2px;
    border: 1px solid rgba(0 , 0, 0, 0.3);
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px #2187e7b3;
    
}
.bar span{
    height: 2px;
    float: left;
    background: #2187e7;
    border-radius: 10px;

}
.html{
    width:18%;
    position: absolute;
    animation: html 2s;
}
.css{
    width:15%;
    position: absolute;
    animation: css 2s;
}
.js{
    width:5%;
    position: absolute;
    animation: js 2s;
}
.php{
    width:16%;
    position: absolute;
    animation: php 2s;
}
.python{
    width:20%;
    position: absolute;
    animation: python 2s;
}
.mysql{
    width:3%;
    position: absolute;
    animation: mysql 2s;
}
/* Keyframes dos nomes*/
@keyframes html{
    0%{
        width: 0;
    }
    100%{
        width: 18%;
    }
}
@keyframes css{
    0%{
        width: 0;
    }
    100%{
        width: 15%;
    }
}
@keyframes js{
    0%{
        width: 0;
    }
    100%{
        width: 5%;
    }
}
@keyframes php{
    0%{
        width: 0;
    }
    100%{
        width: 16%;
    }
}
@keyframes python{
    0%{
        width: 0;
    }
    100%{
        width: 20%;
    }
}
@keyframes mysql{
    0%{
        width: 0;
    }
    100%{
        width: 3%;
    }
}
/* Pr DAR CORES AOS TITULOS*/
#html{
    color: rgb(255, 166, 0);
}
#css{
    color: rgb(4, 0, 255);
}
#php{
    color: rgb(0, 247, 255);
}
#js{
    color: rgb(255, 30, 0);
}
#mysql{
    color: rgb(98, 0, 255);
}
#python{
    color: rgb(195, 255, 0);
}